






body{
 background-image: url(https://zupimages.net/up/21/40/orzr.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 font-family: 'Bitter', serif;
font-family: 'Cabin', sans-serif;





}

#titre{
    
  

    background-color: rgba(8, 8, 8, 0.822); 
   color: white;
   text-shadow: 1px 2px 2px red;
   font-weight: bold;
   font-family: 'Bitter', serif;
   font-family: 'Cabin', sans-serif;
   padding-bottom: 3vh;
}






li{
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
   
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    
    
}





#navbar{
    
    
    padding-top: 5vh;

    
    padding-bottom: 2vh; 
  
}

#logo{
    position: relative;
    left: 20%;
   
    
}

.ico{
    font-size: 200%;
    
   
}



#reservation{
    padding-bottom: 3.5vh;
}

#contactez{
    padding-bottom:6.8vh;
}




#footer{
    background: -webkit-linear-gradient(90deg, rgb(106, 0, 0), rgb(230, 241, 252));
    background: linear-gradient(90deg, rgb(106, 0, 0), rgb(230, 241, 252));
    
}







#button{
    color: rgb(255, 255, 255);
    background-color: rgb(173, 0, 0);
}

#button:hover{
    transform: scale(110%);
}

li:hover{
    transform: scale(110%);
}


#map{
    padding-top: 9vh;
    padding: 1vh;
    padding: 1vw;
    padding-bottom: 8.3vh;
}
#form{
    padding: 1vh;
    padding: 1vw;
}

.map-responsive{

    overflow:hidden;

    padding-bottom:88%;

    position:relative;

   height: 600px;
   

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}



@media all and (max-width: 570px) {



    .card{
        margin-top: 30px;
        
    }
    
    
    
    }













