@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}



body{
    
 background-image: url(https://zupimages.net/up/21/40/orzr.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 font-family: 'Bitter', serif;
font-family: 'Cabin', sans-serif;





   /*  background-image:  url(https://www.zupimages.net/up/21/25/ztny.png);
    background-position: center;
        background-repeat: no-repeat;
        min-width:100%;
     min-height:100vh;
      width:100%;
        height:100vh; */
}

#titre{
    color: white;
    text-shadow: 10px 5px 5px red;
    font-weight: bold;
   
}

#soustitre{
    margin-top: 60vh ;
    color: white;
    text-shadow: 5px 5px 5px red;
    font-weight: bold;
    


}





li{
    
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
   
    
    
    
}



.article{
    background-color: rgba(41, 44, 51, 0.5);
    
}

#navbar{
 
    padding-top: 5vh;

    
    padding-bottom: 2vh; 
 
}

#logo{
    position: relative;
    left: 20%;
   
    
}

#logo{
    position: relative;
    left: 20%;
   
    
}

.ico{
    font-size: 200%;
    margin: 10%;
}








.img-fluid{
    
    width:  600px;
    height: 600px;
    object-fit: cover;
}

#apres{
    padding-top: 40vh;
}


#prix{
    
   
    font-size: 20px;
}


img{

    height: 50px;
    width: 50px;
    
}

img:hover{
   
  
}


#button{
    color: rgb(255, 255, 255);
    background-color: rgb(173, 0, 0);
}

#button:hover{
    transform: scale(110%);
}

li:hover{
    transform: scale(110%);
}

