@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}



body{
 background-image: url(https://zupimages.net/up/21/40/orzr.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 font-family: 'Bitter', serif;
font-family: 'Cabin', sans-serif;




   /*  background-image:  url(https://www.zupimages.net/up/21/25/ztny.png);
    background-position: center;
        background-repeat: no-repeat;
        min-width:100%;
     min-height:100vh;
      width:100%;
        height:100vh; */
}

#titre{
    
  

    background-color: rgba(8, 8, 8, 0.822); 
   color: white;
   text-shadow: 1px 2px 2px red;
   font-weight: bold;
   font-family: 'Bitter', serif;
   font-family: 'Cabin', sans-serif;
   padding-bottom: 3vh;
}


#soustitre{
    
    color: white;
    text-shadow: 5px 5px 5px red;
    font-weight: bold;
    


}



#pagination{
    margin: 2px;
}

#pagination{
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
   
    
    
    
}



.article{
    background-color: rgba(41, 44, 51, 0.5);
    
}

#navbar{
    
    
    padding-top: 5vh;

    
    padding-bottom: 2vh; 
  /*   background-image:  url(https://zupimages.net/up/21/25/uzpx.jpg)  ;
    
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
    border: 1px solid; */
}

#logo{
    position: relative;
    left: 20%;
   
    
}

#logo{
    position: relative;
    left: 20%;
   
    
}

.ico{
    font-size: 200%;
    margin: 10%;
}








.card-img-top{
    
    width: auto;
    height: 600px;
    object-fit: cover;
}

#apres{
    padding-top: 40vh;
}

#button{
    color: rgb(255, 255, 255);
    background-color: rgb(173, 0, 0);
}

#button:hover{
    transform: scale(110%);
}

li:hover{
    transform: scale(110%);
}




@media all and (max-width: 570px){

#soustitre{
    margin-top: 2vh;
}


}


#footer{
    background: -webkit-linear-gradient(90deg, rgb(106, 0, 0), rgb(230, 241, 252));
    background: linear-gradient(90deg, rgb(106, 0, 0), rgb(230, 241, 252));
    
}





